*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #688564;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 20px;
}

h1{
    font-size: 70px;
    color: white;
    margin-bottom: 15px;
}

#winner{
    font-size: 35px;
    color: white;
    background-color: darkgreen;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 60vmin;
    height: 60vmin;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
}

.box{
    border: none;
    border-radius: 10px;

    background-color: black;
    color: white;

    font-size: 70px;
    cursor: pointer;
}

.btns{
    margin-top: 20px;
}

.new-game-btn,
#reset-btn{
    height: 50px;
    width: 150px;

    border: none;
    border-radius: 10px;

    color: white;
    cursor: pointer;

    margin: 5px;
    font-size: 16px;
}

.new-game-btn{
    background-color: blue;
}

#reset-btn{
    background-color: red;
}

/* Mobile Responsive */

@media (max-width: 600px){

    h1{
        font-size: 45px;
    }

    #winner{
        font-size: 22px;
        width: 90%;
    }

    .game{
        width: 90vmin;
        height: 90vmin;
    }

    .box{
        font-size: 45px;
    }

    .new-game-btn,
    #reset-btn{
        width: 130px;
        height: 45px;
        font-size: 14px;
    }

}
